body{
    margin: 0;
    padding: 0;
}
.nav-link {
    text-decoration: none;
    position: relative;
}
a{
    color: white;
}
a:hover{
    color: white;
    text-decoration: none;
    box-shadow: dodgerblue 0px 2px;
}
.nav-link::after {
    position: absolute;
    content: "";
    height: .1em;
    top: 100%;
    background: currentColor;
    z-index: -1;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transition: transform .1s cubic-bezier(.95, .05, .795, .035);
}

.nav-link:hover::after {
    transition-timing-function: cubic-bezier(.19, 1, .22, 0.1);
    transform: scaleX(1);
}